/ExampleJWT/.vs
/ExampleJWT/ExampleJWT/bin
/ExampleJWT/ExampleJWT/obj
/webdatarocks example/.vs
/webdatarocks example/webdatarocks example/obj
/webdatarocks example/webdatarocks example/bin
/datatables pdf multiple header/.vs
/datatables pdf multiple header/WebApplication1/obj
/datatables pdf multiple header/WebApplication1/bin
